@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Global CSS Variables */
:root {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, monospace;

  /* Custom Colors */
  --color-background: #f1f0e8;
  --color-background-container: #eee0c9;
  --color-primary: #b3ccd4;
  --color-accent: #c4772a;
  --color-dark: #233349;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.6;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}
