@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Global CSS Variables */
:root {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, monospace;

  /* Custom Colors */
  --color-background: rgb(241, 240, 232);
  --color-background-container: rgb(238, 224, 201);
  --color-primary: #9eafb6;
  --color-accent: #c4772a;
  --color-dark: #233349;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.6;
}
