.layout {
  min-height: calc(100vh - 50px);
  max-width: 700px;
  background-color: var(--color-primary);
  color: #000;
  position: absolute;
  display: flex;
  justify-content: center;
  transform-origin: right;
}

@media (max-width: 938px) {
  .layout {
    margin-inline: auto;
  }
}
