.container {
  max-height: calc(100vh - 50px);
  max-width: 590px;
  display: flex;
  margin-inline: 50px;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-align: justify;
}

.contentShift {
  margin-block-start: 30vh; /* push content down by 1/3 of viewport height */
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .contentShift {
    margin-block-start: 10vh;
  }

  .title {
    margin-block-end: 0;
  }
}
