.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--background, #fff);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  /* margin-block-end: 20px; */
}

.navbar {
  max-width: 1120px; /* ~7xl */
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
  margin-block: auto;
  margin-inline-start: 10px;
}

.logo:hover {
  color: var(--accent, #1e90ff);
}

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 500px;
}

.divider {
  display: flex;
  flex-grow: 1;
  max-width: 50px;
  border-top: 1px solid var(--muted, #ccc);
}

.navList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 320px;
  padding-inline-start: 0;
  margin-block: auto;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100px;
}

.navLink {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  color: var(--muted, #888);
  text-decoration: none;
}

.navLink:hover {
  color: var(--color-accent);
}

.active {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-accent);
  /* transform: translateY(2px); */
}

.dot {
  margin-inline: 4px;
  color: var(--accent);
  position: relative;
  top: 1px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .divider {
    display: none;
  }
}

@media (max-width: 567px) {
  .navbar {
    flex-direction: column;
  }
}
