.heroSection {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-background-container);
  width: 100%; /* Start full width of the wrapper */
}

.heading {
  font-size: 2.25rem; /* ~text-4xl */
  font-weight: bold;
  color: #111;
}

.description {
  font-size: 1.125rem; /* ~text-lg */
  max-width: 36rem;
  color: #4b5563; /* gray-600 */
  margin-inline: 1rem;
}

.buttonWrapper {
  margin-top: 1.5rem;
}

.ctaButton {
  background-color: var(--color-dark); /* blue-600 */
  color: white;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.ctaButton:hover {
  background-color: #1e40af; /* blue-700 */
}

.avatarWrapper {
  max-height: 200px;
  border-radius: 2px;
  overflow: hidden;
}
