.container {
  display: flex;
  padding: 60px 170px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;

  background-image: url("../public/images/welcome-background.jpg"),
    linear-gradient(lightgray, lightgray);
  background-position: center, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-color: rgba(211, 23, 23, 0.6);
}

.left-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.right-container {
}

.vahid {
  /* display: inline-block; */
  /* position: relative; */
  align-self: flex-end;
  right: 151px;
  bottom: 0px;
  width: 190.562px;
  height: 300px;
}
